<a href="<%= biography_path(biography.slug) %>">
    <% if biography.images.present? %>
        <img src="<%= biography.images.order(:id).first.image.url(:medium) %>" alt="..." class="card-img-top">
    <% end %>
    <div class="card-body">
        <h5 class="card-title"><strong><%= biography.title %></strong></h5>
        <p class="card-text">
            <%= truncate_html(biography.body, :length => 100 ) %>
        </p>
    </div>
</a>