<p>
  <strong>Title:</strong>
  <%= @biography.title %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @biography.lifespan %>
</p>

<p>
  <strong>Body:</strong>
  <%= @biography.body %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @biography.authors %>
</p>
