<h3>
  <strong><%= @biography.title %></strong>
</h3>
<p>
    <h4><%= @biography.lifespan %></h4>
</p>

<%= @biography.body_with_images.html_safe %>

<p class="authors">
  <strong>Authors:</strong> <%= @biography.authors %>
</p>
