<div class="well well-sm comment-well">
    <h5>
        <b><%= comment.name %></b>
        <span class="small"> (<%= comment.created_at %>)</span>
    </h5>
    <p>
        <%= comment.comment %>
    </p>
</div>
