<div class="card ml-3 mb-3">
    <div class="card-body bg-light">
        <h5 class="card-title"><%= comment.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at %></h6>
        <p class="card-text"> <%= simple_format comment.comment %> </p>
    </div>
</div>
