<% if page.current? %>
  <li class='active d-none d-sm-inline page-item'>
    <%= content_tag :a, page, remote: remote, :class => "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li class=' d-none d-sm-inline page-item'>
    <%= link_to page, url, remote: remote, :class => "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
