<h3>
  <strong><%= @static_content.title %></strong>
</h3>

<%= @static_content.body.html_safe %>

<!-- Render featured biographies -->
<% if @static_content.slug == "home" %>
    <hr>
    <p class="small"><strong>Featured biographies...</strong></p>
    <div class="row">
        <% Biography.where('featured = ?', true).limit(3).each do |biography| %>
              <div class="col-sm-4"><div class="well">
                  <%= render partial: 'biographies/featured', locals: {biography: biography} %>
              </div></div>
        <% end %>
    </div>
<% end %>
