/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-size-base: 15px;
$blockquote-font-size: 15px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";
@import "summernote";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top to avoid the navbar */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.navbar-brand {
    display: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}


.page-header {
    margin-top: 0px;
}
.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ededed;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
.show-mobile {
    display: none !important;
}
.table th, .table td {
     border-top: none !important;
 }
 .biography-img-right {
     float: right;
     margin: 5px 0px 10px 10px;
 }
 .biography-img-left {
     float: left;
     margin: 5px 10px 10px 0px;
 }
 .container{
      max-width: 850px;
 }
.authors {
    clear: both;
}
.img-footer-caption, .img-footer-id {
    float:left;
}
.caption {
    word-wrap: break-word;
}
div.biography_body h5 {
    font-weight: bold;
}
#index div.btn-group {
display: flex;
}

@media screen and (max-width: 767px) {
    .body {
        margin-bottom: 30px;
    }
    .page-header {
        display: none;
    }
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: inline !important;
    }
    .navbar-brand {
        display: inline;
        font-size: 15px;
        font-weight: bold;
    }
    .navbar-form {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .footer {
         height: 30px;
         line-height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .biography-img-left, .biography-img-right {
        float: none;
        display: inline-block;
        margin: 5px 0px 10px 0px;
    }
    .img-container {
        text-align: center;
    }
}

@media screen and (max-width: 380px) {
    .hide-small-mobile {
        display: none !important;
    }
}
