/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$font-size-base: 15px;
$blockquote-font-size: 15px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-grid-ms";
@import "lightbox-bootstrap";
@import "summernote";
@import "biographies";
@import "authors";
@import "images";
@import "lightbox";
@import "static_content";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top to avoid the navbar */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width: 260px;
}

/* Menu styles */
.navbar-brand {
    display: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.page-header {
    margin-top: 0px;
}


.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ededed;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 15px;
  padding-top: 20px;
}
.show-mobile {
    display: none !important;
}
.container{
    max-width: 850px;
}

@media screen and (max-width: 767px) {
    .body {
        margin-bottom: 30px;
    }
    .page-header {
        display: none;
    }
    .hide-mobile {
        display: none !important;
    }
    .show-mobile {
        display: inline !important;
    }
    .navbar-brand-small, .navbar-brand-medium {
        display: none !important;
    }
    .navbar-brand-large {
        display: inline !important;
    }
    .navbar-brand {
        display: inline;
        font-size: 15px;
        font-weight: bold;
    }
    .navbar-form {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .footer {
         height: 40px;
         line-height: 30px;
         line-height: 15px;
         padding-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .biography-img-left, .biography-img-right {
        float: none;
        display: inline-block;
        margin: 5px 0px 10px 0px;
    }
    .img-container {
        text-align: center;
    }
}

/* Swapping in the shorter titles for small screens */

@media screen and (max-width: 380px) {
    .navbar-brand-large, .navbar-brand-small {
        display: none !important;
    }
    .navbar-brand-medium {
        display: inline !important;
    }
}

@media screen and (max-width: 260px) {
    .navbar-brand-large, .navbar-brand-medium {
        display: none !important;
    }
    .navbar-brand-small {
        display: inline !important;
    }
}
