textarea#comment_comment {
    height: 200px;
}

#comment_button {
    margin-bottom: 10px;
}

table#index_list td {
  border-bottom:1pt solid DarkGray;
}

div.comment-well {
    margin-left: 30px;
}
