.jumbotron {
    background-image: url(/images/dfb_banner.jpg);
    background-size: cover;
}

.jumbotron .container{
    background-color: rgba(50,50,50,0.8);
    padding: 20px;
}

.jumbotron h1 {
    color: rgb(200,200,200);
    font-family: 'Roboto Slab', serif;
}

.jumbotron p {
    color: rgb(200,200,200);
    font-family: 'Open Sans', sans-serif;
}

#featured .card {
     width: 270px;
}

#featured .card-img-top {
    object-fit:cover; 
    height: 350px;
}
