<div class="figure <%=@class%>" >
        <a  href=<%= @img.image.url("original") %>
            data-toggle="lightbox"
            data-gallery="multiimages"
            data-footer='<div class="container-fluid">
                            <row> </row>
                            
                            asfasdasd</div>' >
            <img src=<%= @img.image.url("medium") %> class="figure-img img-fluid rounded" >
        </a>
        <figcaption class="figcaption">
            <%= truncate_html(@img.caption.html_safe,  :length => 40) %>
        </figcaption>
</div>
