<!DOCTYPE html>
<html>
  <head>
    <title>DFB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Biographies..">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>

          <div class="col-sm-9">
              <h1>Dictionary of Falklands Biographies</h1>
              <h3>including South Georgia</h3>
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="footer navbar-fixed-bottom"">
        <p>&copy; 2012 David Tatham</p>
     </div>

  </body>
  </html>
